* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 body {
     
     background-color: white;
     padding: 20px;
    
 }
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgda(0,0,0,0.1);

  }
  h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;

  }
   table {
    width: 100%;
    border-collapse: collapse;

   }
   thead th {
    background-color: #0b8bd4;
    color: white;
    padding: 10px;
    text-align: left;
   }
   tbody td {
    padding: 10px;
    border-bottom:  1px solid #ddd;
   }
   tbody tr:nth-child(even) {
     background-color: #f9f9f9;

   }
    .author {
        text-align: right;
        margin-top:20px;
        font-size: 18px;
        color:#0b8bd4
    }